<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <title>Unimake</title>
</head>
<body>
    <div class="logo">
        <br><h3>Unimake</h3><br>
        <p>Collaborate alongside students with similar <br> interests and rate using Unimake.</p>
    </div>
    <div class="LogRegForm">
        <form action="/auth/login" method="POST">
            <label for="email"></label>
            <input class="center-block" placeholder="Email Address" type="email" id="email" name="email">

            <label for="password"></label>
            <input placeholder="Password" type="password" id="password" name="password">

            <button type="submit">Log In</button>
            <br><hr width="95%">
        </form>
        <a href="/register">
            <button class="register">
                Create new account
            </button>
        </a>
        <br>
    </div>
</body>
</html>