<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <title>Unimake</title>
</head>
<body>
    <nav>
        <div class="uni">Unimake</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div>
            <h1>Hello!</h1>
            <p> bla bla bla</p>
            <p> dfadksfkla</p>
            <a href="#" role="button">Learn more</a>
        </div>
    </div>
</body>
</html>